:root {
    --claro: #FFFFE9;
    --verde: #114E38;
    --verdeClaro: #DADFB9;
    --amarilloVerde: #76A636;
    --blanco: white;
    --texto: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6 rem;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p {
    font-size: 1rem;
}

/*Estilos golbales*/

h1,
h2,
h3 {
    font-family: var(--texto);
}

p,
a {
    font-family: var(--texto);
}

.contenedor {
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

/*Encabezado*/

.encabezado {
    height: 100vh;
    min-height: 70rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}


.contenido-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--verde);
    box-shadow: 10px 10px 16px -6px var(--verdeClaro);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 12px;
    margin-right: 10px;
}

.logo h2 {
    font-size: 1.8rem;
    color: var(--verdeClaro);
    text-align: center;
    margin-right: 10px;
}

.logo h2 span {
    font-size: 1.3rem;
}

.logo input {
    color: var(--verdeClaro);
    font-size: 1.1rem;
    border-radius: 5px;
    color: var(--verde);
    padding: 6.5px 80px;
    margin-left: 5rem;
    outline: 2px solid var(--verde);
}

input[type="submit"] {
    background-color: var(--amarilloVerde);
    border: none;
    padding: 7px 20px;
    margin: 0.5rem;
    border-radius: 4px;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: var(--verdeClaro);
}

.navegacion a,i {
    font-size: 1.3rem;
    padding: 0.5rem;
    color: var(--verdeClaro);
    text-decoration: none;
    transition: background-color all .3s ease-in-out;
    cursor: pointer;
}

.navegacion i:hover {
    background-color: var(--amarilloVerde);
    color: var(--verdeClaro);

}
.navegacion a:hover {
    background-color: var(--amarilloVerde);
    color: var(--verdeClaro);

}

.contenido-encabezado {
    text-align: center;
}

.contenido-encabezado {
    background-size: cover;
    background-position: center;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*container*/

.container{
    margin: 10rem;
}
.imagen-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagen-box img{
    width: 18rem;
    height: 15rem;
    margin-bottom: 4rem;
    margin-left: 5rem;

}

.imagen-box:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.text{
    font-size: 2rem;
    color: var(--amarilloVerde);
    margin-left: 7rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}


.text span{
    font-size: 2rem;
    text-align: left;
    color: black;
}

.total p{
    font-size: 3rem;
    text-align: center;
    color: var(--verde);
}

.total:hover p{
    transform: scale(1.1);
    cursor: pointer;
}

/*Boton*/

.bta{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 1rem;
}

.bta button{
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem;
    background: var(--verde);
    cursor: pointer;
    color: var(--blanco);
}
.bta button:hover{
    background-color: var(--amarilloVerde);
}



