:root{
    --claro: #FFFFE9;
    --verde: #114E38;
    --verdeClaro: #DADFB9;
    --amarilloVerde: #76A636;
    --blanco:white;
    --texto: 'Montserrat', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-size: 1.6 rem;
}

*,*::before, *::after{
    box-sizing: inherit;
}
p{
    font-size: 1rem;
}

/*Estilos golbales*/

h1, h2, h3{
    font-family: var(--texto);
}

p,a{
    font-family: var(--texto);
}
.contenedor{
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

/*Encabezado*/

.encabezado{
    background-image: url(../img/fondo\ con\ logo.jpg);
    height: 100vh;
    min-height: 70rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.encabezado::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--verde);
    box-shadow: 10px 10px 16px -6px var(--verdeClaro);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 60px;
    margin-right: 12px;
    margin-right: 10px;
}
.logo h2{
    font-size: 1.8rem;
    color: var(--verdeClaro);
    text-align: center;
    margin-right: 10px;
}
.logo h2 span{
    font-size: 1.3rem;
}
.logo input{
    color: var(--verdeClaro); 
    font-size: 1.1rem;
    border-radius: 5px;
    color: var(--verde);
    padding: 6.5px 80px;
    margin-left: 5rem;
    outline: 2px solid var(--verde);
}

input[type="submit"]{
    background-color: var(--amarilloVerde);
    border: none;
    padding: 7px 20px;
    margin: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    
}
input[type="submit"]:hover{
    background-color:var(--verdeClaro);}

    .navegacion a{
        font-size: 1.3rem;
        padding: 0.5rem;
        color: var(--verdeClaro);
        text-decoration: none;
        transition: background-color all .3s ease-in-out;
    }
    
    .navegacion a:hover{
        background-color: var(--amarilloVerde);
        color: var(--verdeClaro);
    
    }
    
    .contenido-encabezado{
        text-align: center;
    }
    .contenido-encabezado{
        background-size: cover;
        background-position: center;
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

/*Contenedor*/

.productos{
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 32rem;
}
.productos .title{
    color: var(--blanco);
    padding-top: 2rem;
    font-size: 1.5rem;
}
.title h1{
    font-weight: 600;
    padding-bottom: 2rem;
}

.productos .texto{
    color: var(--claro);
    padding-bottom: 2rem;
    
}
.texto p{
    font-size: 2.5rem;
    font-weight: 500;
    padding-top:2rem ;
}

/*Imagenes contenedor*/

.imge{
    color: var(--claro);
    text-align: center;
}

.imge img{
    width: 20rem; 
    height: 20rem;
    
}

.imge p{
    font-size: 2rem;
    font-weight: 700;
    
}

.contenido-imagenes{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;

}

.imagenes1{
    padding-top: 3rem;
}
/*Botones*/
.btaf{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.botones {
    margin: 0 10px; 
    padding: 10px 20px; 
}

.botones button{
    font-size: 1.3rem;
    padding: 12px 14px;
    background: var(--verde);
    border-radius: 16px;
    cursor: pointer;
    color: var(--blanco);
    margin-left: 10px;
    margin-top: 3rem;
}
.botones button:hover{
    background-color: var(--amarilloVerde);
}

.botones1{
    margin: 0 10px; 
    padding: 10px 20px; 
}
.botones1 button{
    font-size: 1.3rem;
    padding: 12px 40px;
    background: var(--verde);
    border-radius: 16px;
    cursor: pointer;
    color: var(--blanco);
    margin-left: 10px;
    margin-top: 3rem;
}

.botones1 button:hover{
    background-color: var(--amarilloVerde);
}